<h1>Olá {{ student_name }}!</h1>
<h2>
    Sua Matrícula foi confirmada e cadastrada com sucesso, segue os detalhes abaixo:
</h2>
<strong>
    Numero da Matrícula: <span id="registration_id">{{ registration_id }}</span>. <br />
    Plano selecionado: <span id="plan_name">{{ plan_name }}</span> ({{ total_month }}). <br />
    Preço total: R$ <span id="total_price">{{ total_price }}</span> (R$ {{ plan_price }} /mês). <br />
    A data de inicio escolhida é <u>{{  start_date }}</u> com encerramento no <u>{{ end_date }}</u>.
</strong>
<br />
<p>
    A equipe Gympoint te dá as boas vindas, e gostariamos de dizer que
    estamos muito felizes de ter você conosco!
</p>
<p>
    Caso tenha algum problema ou alguma irregularidade com as informações deste email, por favor entre
    em contato com o seguinte email: <strong>suport@gympoint.com</strong>.
</p>
<hr>
<small>
    <b>Por favor não responda este email.</b>
</small>

<style>
    #plan_name, #total_price, #registration_id, u {
        color: #ff6f00;
    }
    h1 {
        color: #ff8f00;
    }
</style>
