<h2>Olá {{ student_name }}!</h2>
<h3>
    Sua Matrícula foi confirmada e cadastrada com sucesso, segue os detalhes abaixo:
</h3>
<strong>
    Plano selecionado {{ plan_name }} ({{ total_month }} meses), preço total de
    R${{ total_price }} (R${{ plan_price }} /mês). <br />
    A data de inicio escolhida é {{  start_date }} com encerramento no {{ end_date }}.
</strong>
<br />
<p>
    A equipe Gympoint te dá as boas vindas, e gostariamos de dizer que
    estamos muito felizes de ter você conosco!
</p>
<p>
    Caso tenha algum problema ou alguma irregularidade com as informações deste email, por favor entre
    em contato com o seguinte email: <strong>suport@gympoint.com</strong>.
</p>
<hr>
<small>
    Por favor não responda este email.
</small>
