<h2>Olá {{ student_name }}!</h2>
<h3>
    Sua Matrícula foi confirmada e cadastrada com sucesso, segue os detalhes abaixo:
</h3>
<strong>
    Plano selecionado <span id="plan_name">{{ plan_name }}</span> ({{ total_month }} meses), preço total de
    R$ <p id="total_price">{{ total_price }}</p> (R$ {{ plan_price }} /mês). <br />
    A data de inicio escolhida é <u>{{  start_date }}</u> com encerramento no <u>{{ end_date }}</u>.
</strong>
<br />
<p>
    A equipe Gympoint te dá as boas vindas, e gostariamos de dizer que
    estamos muito felizes de ter você conosco!
</p>
<p>
    Caso tenha algum problema ou alguma irregularidade com as informações deste email, por favor entre
    em contato com o seguinte email: <strong>suport@gympoint.com</strong>.
</p>
<hr>
<small>
    <b>Por favor não responda este email.</b>
</small>

<style>
    #plan_name, #total_price, u {
        color: #ff6f00;
    }
    h2 {
        color: #ff8f00;
    }
</style>
