<h1>Olá {{ student_name }}!</h1>
<h2>
    Sua Matrícula foi Atualizada! <br />
    <span>Segue os detalhes abaixo:</span>
</h2>
<strong>
    Numero da Matrícula: <span id="special_valor">{{ registration_id }}</span>. <br />
    Situação da Matrícula: <span id="special_valor">Aberta</span>. <br />
</strong>

<br />

<h3>Plano:</h3>
<blockquote>
    <strong>
        <i>Nome:</i> <span id="special_valor">{{ plan_name }}.</span> <br>
        <i>Duração:</i> <span id="special_valor">{{ plan_duration }}.</span> <br>
        <i>Preço total:</i> <span id="special_valor">{{ plan_total_price }}.</span> <br>
        <i>Mensalidade:</i> <span id="special_valor">{{plan_monthly }}.</span> <br>
        {{#if hasTax}}
        <i>Taxa de adesão:</i> <span id="special_valor">{{ plan_loyalty }}.</span> <br>
        {{/if}}
    </strong>
</blockquote>
<br>
<strong>
    A data de inicio escolhida é <u>{{  start_date }}</u> com encerramento no <u>{{ end_date }}</u>.
</strong>

<br />
<p>
    <b>Caso tenha algum problema ou alguma irregularidade com as informações deste email, por favor desconsidere.</b>
</p>
<hr>
<small>
    <b>Por favor não responda este email.</b>
</small>

<style>
    #special_valor, u {
        color: #ff6f00;
    }

    h1 {
        color: #ff8f00;
        margin: 0;
    }

    blockquote {
        border-left: 5px solid #ff8f00;
    }

    blockquote > strong > i{
        margin-left: 15px;
    }
</style>
